.hh1 {
    padding-top: 80px;
    color: rgb(212, 132, 132);
    width: 100%;
    font-weight: 600;
    font-size: 44px;
    padding-bottom: 30px;
  }
  
  .em {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 14px;
  }
  
  .eventsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    text-align: center;
  }
  
  .mainContent {
    padding: 20px 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf9f9;
    color: #333;
    line-height: 1.6;
    padding-bottom: 100px;
  }
  
  .header {
    //padding-top: 40px;
  
    padding: 20px;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #dbc2c2;
    color: white;
    z-index: 1000;
  }
  
  .headertop {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0px;
  }
  
  
  .p1 {
    font-size: 16px;
  }
  
  .linkbutton {
    display: none;
  }
  
  .linka {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-size: 20px;
    
  }

  
.linka1 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    cursor: default;
  }

  .linka4 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
  }
  
  .linkEvent {
    text-decoration: underline;
    color: rgb(192, 153, 153);
    font-size: 20px;
  }
  
  .logolink1 {
    
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 32px;
    cursor: default;
  }
  
  .userDropdown {
    position: relative; 
    display: inline-block;
  }
  
  .dropdownButton {
    background-color: #dbc2c2;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  
    text-decoration: underline;
    font-size: 20px;
  }
  
  .dropdownContent {
    position: absolute;
    background-color: #ffffff;
    width: 160px;
  
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdownLink {
    color: rgb(212, 132, 132);
    padding: 8px 16px;
    text-decoration: underline;
    display: block;
    font-size: 20px;
    text-align: left;
    border: none;
    background-color: #ffffff;
  }
  
  .dropdownLink:hover {
    background-color: #f3ebeb;
  }
  
  .logo {
    font-weight: 700;
    font-size: 32px;
    color: white;
    text-decoration: none;
  }

  .logoHome {
    font-weight: 700;
    font-size: 32px;
    color: white;
    text-decoration: none;
    cursor: default;
  }
  
  .contentImage {
    width: 40px;
    object-fit: cover;
  }
  
  .logoAndText {
    display: flex;       
    gap: 20px;        
  }
  
  .logo1 {
    max-width: 200px;   
    height: auto;        
  }
  
  .descriptionText {
   
    color: rgb(223, 176, 176);
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    
  }


  @media (max-width: 1300px) {
    .openCreateModalButton {
      width: 250px;
      font-size: 20px;
    }
  }
  
  @media (max-width: 1000px) {
    .container {
      overflow: auto;
    }
  
    .content {
      flex-direction: column;
      padding: 80px 10%;
    }
  
    .mapContainer {
      position: visible;
      top: auto;
      height: 500px;
      width: 100%;
      align-self: auto;
      margin: 20px, 0;
  
      .ymaps-map {
        width: 100% !important;
        height: 100% !important;
      }
    }
  
    .map {
      height: 500px;
    }
  
    .eventsContainer {
      margin-left: auto;
      width: 100%;
      overflow-y: visible;
      overflow-x: visible;
      max-height: calc(100vh - 60px);
    }
  }
  
  
  
  
  @media (max-width: 800px) {
  
  
    .eventsHeader {
      display: flex;
      flex-direction: column;
    }
  
    .openCreateModalButton {
      width: 100%;
    }
  
    .mapContainer {
      height: 300px;
    }
  
    .bmcontainer {
      position: relative; /* Важно для позиционирования меню абсолютно */
    }
  
    .burgerButton {
      font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    z-index: 2; /*  Обеспечивает отображение кнопки поверх меню, когда оно открыто. */
    }
  
    .map {
      height: 300px;
    }
  }
  
  
  
  
  
  .mobileMenu {
    position: relative; 
    display: inline-block;
    border-radius: 8px;
  }
  
  .burgerButton {
    background-color: #dbc2c2;
    color: #ffffff;
    padding: 0px 16px;
    border: none;
    cursor: pointer;
  
  width: 40px;
  height: 40px;
    font-size: 40px;
  }
  
  .mobileMenuContent {
    position: absolute;
    background-color: #ffffff;
    width: 300px;
   
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
  }
  
  .linka2 {
    color: rgb(212, 132, 132);
    padding: 8px 16px;
    text-decoration: underline;
    display: block;
    font-size: 20px;
    text-align: left;
    border: none;
    background-color: #ffffff;
  }
  
  .dropdownLink:hover {
    background-color: #f3ebeb;
  }
  
  
  