.header {
  padding: 20px;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #dbc2c2;
  color: white;
  z-index: 1000;
}

.headertop {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0px;
}

.logo {
  font-weight: 700;
  font-size: 32px;
  color: white;
  text-decoration: none;
}

.contentImage {
  width: 40px;

  object-fit: cover;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdf9f9;
  color: #333;
  line-height: 1.6;
  padding-bottom: 100px;
}


.hh1 {
  padding-top: 80px;
  color: rgb(212, 132, 132);
  width: 100%;
  font-weight: 600;
  font-size: 44px;
  padding-bottom: 0px;
}

.em {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 14px;
}

.eventsGrid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  text-align: center;
}

.p1 {
  font-size: 20px;
}

.linkbutton {
  display: none;
}

.linka {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.linkEvent {
  text-decoration: underline;
  color: rgb(192, 153, 153);
  font-size: 20px;
}

.linka1 {
  color: rgb(192, 153, 153);
  text-decoration: none;
  font-size: 20px;
  cursor: default;
}

.userDropdown {
  position: relative; 
  display: inline-block;
}

.dropdownButton {
  background-color: #dbc2c2;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;

  text-decoration: underline;
  font-size: 20px;
}

.dropdownContent {
  position: absolute;
  background-color: #ffffff;
  width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  
}

.dropdownLink {
  color: rgb(212, 132, 132);
  padding: 8px 16px;
  text-decoration: underline;
  display: block;
  font-size: 20px;
  text-align: left;
  border: none;
  background-color: #ffffff;
}

.dropdownLink:hover {
  background-color: #f3ebeb;
}

form {
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 150px; /* 300px*/
  padding: 10px;
  margin-right:20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #684141;
}

.searchButton {
  width: 100px;
  padding: 10px;
  padding-bottom: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #dbc2c2;
}

.searchButton:hover {
  color: white;
  background-color: rgba(212, 132, 132, 0.637);
}